.commonBtn {
  background-color: $theme1;
  border: 1px solid $theme1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  font-weight: 600;
}